h1{
    color:#663300;
    text-align: center;
}

body {
    background-color:#ffcc99;
}

h2{
    color:#663300;
}

h3 {
    color:#e67300;
}

#potpis {
    text-align:right;
    text-decoration:underline;
    font-size:21px;
    color:#392613;
}

.tekstic {
    border:black;
    text-align:center;
}

